body {
	width:1200px;
	height:750px;
	text-align: center;
	margin: 30px auto;
	background-color: #98AFC7;
}


.board {
	text-align: center;
	height: 540px;
	width: 800px;
	border: solid black;
	margin: 0 auto;
	background-color: gray;
	border-radius: 20px;
}

img {
	height: 100px;
	width: 110px;
	padding: 1px 1px 1px 1px;
	border: solid black;
	margin-top: 20px;
	display: inline-block;
	position: relative;
	text-align: center;
    border-radius: 10px;
}

.front {
	height: 100px;
	width: 110px;
	padding: 1px 1px 1px 1px;
	border: solid black;
	margin-top: 20px;
	display: inline-block;
	position: relative;
	text-align: center;
    border-radius: 10px;
   /* -webkit-backface-visibility: hidden; */
   /* backface-visibility: hidden; */
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
	-webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);

}